// Color Schemes
$custom-color-1: hsl(4, 53%, 57%); // Coral>
$custom-color-2: hsl(186, 47%, 73%); // Shell
$custom-color-3: hsl(0, 0%, 97%); // Light Grey
$custom-color-4: hsl(0, 0%, 16%); // Dark Grey
$custom-color-5: hsl(0, 0%, 37%); // Mid Grey
$custom-color-6: hsl(0, 0%, 91%); // Low Grey

// Color Class
[class~="white"] { color: white; }
[class~="grey"] { color: grey; }
[class~="black"] { color: black; }
[class~="custom-color-1"] { color: $custom-color-1; }
[class~="custom-color-2"] { color: $custom-color-2; }
[class~="custom-color-3"] { color: $custom-color-3; }
[class~="custom-color-4"] { color: $custom-color-4; }
[class~="custom-color-5"] { color: $custom-color-5; }   