// Repeater

@function repeater($n, $character) {
    $c: "";

    @for $i from 1 through $n {
        $c: $c +" "+ $character;
    }

    @return unquote($c);
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');

// Icons
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(materialicons.woff2) format('woff2');
  }

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(materialicons-o.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  }


// SCSS
@import "mixins";
@import "colors";

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include main-fonts($custom-color-5);
}

a {
    @include main-fonts($custom-color-5);

    &:hover {
        @include main-fonts(black);
    }
}

button {
    @include main-fonts($custom-color-5);
}

input {
    @include main-fonts($custom-color-5);
}

::selection {
    background: white; 
    color: $custom-color-2;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

.margin {
    &-desktop {
        @include content-margin(85px, '', '');
    }
    &-v-0-0 {
        @include content-margin(0px, '', '');
    }
    &-v-30-15 {
        @include content-margin(30px, '', '');
    }
    &-v-60-30 {
        @include content-margin(60px, '', '');
    }
    &-v-60-20 {
        @include content-margin(630px, '', '');
    }
    &-h-0-0 {
        @include content-margin('', '', 0px)
    }

}

@media only screen and (max-width: 1025px) {
    .margin {
        &-desktop {
            @include content-margin(0px, '', '');
        }
        &-v-0-0 {
            @include content-margin(0px, '', '');
        }
        &-v-30-15 {
            @include content-margin(15px, '', '');
        }
        &-v-60-30 {
            @include content-margin(30px, '', '');
        }
    
    }
}

.padding {
    &-onlytop {
        &-sm {
            @include content-padding(20px, '', '');
        }
        &-md {
            @include content-padding(50px, '', '');
        }
    }
    &-onlybottom {
        &-sm {
            @include content-padding('', 20px, '');
        }
        &-md {
            @include content-padding('', 50px, '');
        }
    }
    &-startend-null {
        @include content-padding ('', '', 0px);        
    }
}

#wrapper {
    @include fix-width(85vw);
}

#staticnav {
    min-height: 80px;
    display: flex;
    align-items: center;
    height: calc((100vh * 0.3) - 3rem);
    @include content-margin (3rem, auto , 3rem);
    @include border-radius (30px, 0);
    background-color: $custom-color-3;
}

#banner__image {
    min-height: 300px;
    height: calc((100vh * 0.7) - 3rem);
    @include content-margin (0, 3rem , 3rem);
    @include border-radius (0, 30px); 
    background-color: $custom-color-3;
    background-image:  url('../img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .banner__overlay {
        display: flex;
        align-items: center; 
        justify-content: end;
        // background-image: radial-gradient(rgba(0, 0, 0, 0.15) 50%, transparent 50%);
        background-size: 4px 4px;
        width: 100%;
        height: 100%; // height of the image
        @include border-radius (0, 30px); 
        .banner__content {
            display: flex;
            align-items: center; 
            justify-content: center;
            width: 40%;
            ul {
                width: 75%;
                list-style: none;
                margin: 0;
                padding: 0; 
                
                li {
                    margin-top: 2em;
                    h1 {
                        font: 2em "Quicksand", sans-serif;
                        color: white;
                        font-weight: 800;
                    }
                    .banner__button {
                        background-color: transparent; 
                        border: 2px solid white; 
                        border-radius: 5px;
                        color: white;
                        padding: 1em 2em;
                        text-align: center;
                        text-decoration: none;
                        font-size: 1em;
                        font-weight: 800;
                        cursor: pointer;
                        transition: all 200ms;
                        &:hover {
                            background-color: white;
                            color: $custom-color-4;
                        }
                    }
                }
            } 
        }
        
        .icon-scroll {
            display: block;
            border-radius: 120px;
            width: 60px;
            height: 60px;
            background: #fff;
            position: absolute;
            top: calc(100vh - 6em);
            left: 50%;
            transform: translateX(-30px);
            text-align: center;
            line-height: 60px;
            transition: background-color 100ms ease-in-out, opacity 100ms ease-in-out;
        }
      }
}

@media only screen and (max-height: 480px) {
    #banner__image {
        .banner__overlay {
            .icon-scroll {
                opacity: 0;
            }
        }
    }
}


/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {

    #staticnav {
        height: calc(100vh * 0.2);
        @include content-margin (0, 0 , 0);
        @include border-radius (0, 0);
    }

    #banner__image {
        height: calc(100vh * 0.80);
        @include content-margin (0, 0 , 0);
        @include border-radius (0, 0);
        background-color: transparent;
        .banner__overlay {
            justify-content: center;
            .banner__content {
                width: 100%;
                ul {
                    text-align:center!important;
                }
            }
            .icon-scroll {
                background-color: transparent;
                box-shadow: 0 0 0;
                border: 1px solid white;
                filter: brightness(100);
            }
        }
    }
}

#topnav {
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    top: -105px;
    opacity: 0;
    z-index: 1;
    transition: all 100ms ease-in-out;
}

header {
    width: 85vw;
    position: relative;
    margin: 0 auto;
    margin-top: 10px!important;  
    left: 0;
    right: 0;
}

nav {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr ;

    .logo {
        font: 16pt "Varela Round", sans-serif;
        text-transform: uppercase;
        justify-self: center;
        align-self: center;
        margin-bottom: 10px;
        letter-spacing: 0.5em;
        margin-right:-0.5em; // remove spacing from last letter
        }
    }


    .nav_links_left {
        justify-self: start;
        align-self: center;
        ul { 
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                position: relative;
                margin-right: 40px;
                a {
                    letter-spacing: 2px;
                    &::after {
                        @include nav-link-hover();
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
        }    
    }
}

    .nav_links_right {
        justify-self: end;
        align-self: center;
        ul { 
            list-style: none;
            margin: 0;
            padding: 0; 
            li {
                display: inline-block; 
                margin-left: 40px;
                a {
                    letter-spacing: 2px;
                    &::after {
                        @include nav-link-hover();
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }    
    }

    .navbar-toggle {
        display: none;
        ul {
            li {
                display: inline-block;
                padding-left: 20px;
            }
        }
    }

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {

    header {
        @include content-padding(20px, 20px, 0px); 
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        .nav_links_left {
            display: none;
        }
    
        .logo {
            justify-self: left;
            align-self: auto;
            grid-column: 1;
            margin-bottom: 0;
        }
    
        .nav_links_right {
            display: none;
        }
    
        .navbar-toggle {
            grid-column: 2;
            display: block;
            justify-self: end;
            align-self: center;
        }
    }
}

#products {

    .product__div {
        align-self: center;
        margin-bottom: 40px;
        h1 {
            @include main-fonts($custom-color-5);
            font-size:18px!important;
        }
        }

    .product__grid {
        display: grid;
        grid-template-columns: repeater(4, 1fr);
        --repeat: auto-fit;
        column-gap: 25px;
        row-gap: 40px;        
        
        .product__parent {
            display: grid;
            grid-template-columns: 1fr;
            div {
                grid-row: auto;
                grid-column: auto;
                grid-row-start: 1;
                grid-column-start: 1;
             }    
        }

        .img__default {
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: opacity 500ms ease;
            border-radius: 10px;
        }
        .img__hover {
            width: 100%;
            height: 100%;
            grid-row: auto;
            grid-column: auto;
            grid-row-start: 1;
            grid-column-start: 1;
            opacity: 0;
            transition: opacity 500ms ease;
            border-radius: 10px;
        }
        .title {
            font-size: 10px;
            margin-top: 25px;
            text-transform: uppercase;
        }
    
        .name {
            padding-top: 5px;
            font-size: 15px;
        }
    
        .price {
            margin: 5px 0 25px 0; 
            text-transform: uppercase;
        }

        a:hover .img__default {
            opacity: 0;
        }

        a:hover .img__hover {
            opacity: 1;
        }
    }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
    #products {
        .product__grid {
            grid-template-columns: repeater(1, 1fr);
        }
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
    #products {
        .product__grid {
            grid-template-columns: repeater(1, 1fr);
        }
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
    #products {
        .product__grid {
            grid-template-columns: repeater(3, 1fr);
        }
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {
    #products {
        .product__grid {
            grid-template-columns: repeater(3, 1fr);
        }
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    #products {
        .product__grid {
            grid-template-columns: repeater(3, 1fr);
        }
    }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
    #products {
        .product__grid {
            grid-template-columns: repeater(4, 1fr);
        }
    }
}

#footer {
    @include content-padding(120px, 100px, 0px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
        .links-1 { 
                grid-column: 1;
                grid-row: 1/3;
                @include footer_list();
        }
        .links-2 { 
                grid-column: 2;
                grid-row: 1/3;
                @include footer_list();
        }
        .links-3 { 
                grid-column: 3;
                grid-row: 1/3;
                @include footer_list();
        }

        .newsletter {
            grid-column: 4/6;
            grid-row: 1/2;
            z-index: 1;
        }

        .copyright {
            grid-column: 1/6;
            grid-row: 2/3;
            text-align: right;
            line-height: 1.8em;
            z-index: 0;
            align-self: end;
        }
    }

#footer form {
    position: relative;
    input {
        padding-top: 5px;
        &::placeholder {
            display: none;
        }
        &:hover + label {
            @include form-hover-out();
        }
        &:focus + label {
            display: none;
        }
    }
    input[type="email"] {
        border-width: 0 0 1px;
        border-radius: 0;
        color: transparent;
        width: 100%;
        outline: none;
        border-color: $custom-color-5;
        background-color: transparent;
        outline: 0;
        &:hover {
            color: $custom-color-5;
            transition: color 200ms;
        }
        &:focus {
            color: $custom-color-5;
        }
    }
    input[type="submit"] {
        right: 0px;
        bottom: 0px;
        padding-bottom: 5px;
        padding-right: 2px;
        margin-right: -2px;       
        float: right;
        position: absolute;
        outline: none;
        border-width: 0;
        background-color: transparent;
        cursor: pointer;
    }
    label {
        position: absolute;
        left:0px;
        bottom:5px;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: visibility 100ms, opacity 100ms linear, transform 100ms;
        &:hover {
            @include form-hover-out();
        }
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    #footer {
        @include content-padding(80px, 0px, 0px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 30px;
            .links-1 { 
                    grid-column: 1;
                    grid-row: 1;
            }
            .links-2 { 
                    grid-column: 2;
                    grid-row: 1;
            }
            .links-3 { 
                    grid-column: 1;
                    grid-row: 2;
            }
    
            .newsletter {
                grid-column: 2;
                grid-row: 2;
                z-index: 1;
            }
    
            .copyright {
                grid-column: 1/3;
                grid-row: 3;
                justify-self: center;
                align-self: center;
                text-align: center;
            }
        }
        #footer form {
            input[type="submit"] {
                visibility: hidden;
            }
        }
}